.rootdiv {
  background-color: #dc7633;
  height: 100vh;
  padding-top: 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin-top: 150px;
}

.subheader {
  text-align: center;
}

.logout {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: black; /* Green */
  border: solid black;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  --button-hover: red;
}

.enter {
  border: solid black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  --button-hover: Green;
}
