.rootdiv {
  background-color: mediumspringgreen;
  height: 100vh;
  position: relative;
}

.activelink {
  background-color: brown;
  padding: 10px 10px;
  color: black;
  text-decoration: none;
}

.navbarlink {
  color: white;
  text-decoration: none;
}

.imageslistdiv {
  display: flex;
  gap: 20px;
  margin: 30px;
  border: solid black;
  height: 80%;
  position: relative;
}

.button {
  color: green;
  position: absolute;
  top: 10;
  right: 0;
}
